@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-family: Open Sans;
  text-shadow: 1px 1px 0px black;
}
body {
  background-color: #aaa;
}
.index {
  background: url(assets/images/index_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  min-height: 100vh;
  animation: fadeIn 0.5s forwards ease-in;
  animation-delay: 0s;
  transition: 0.6s;
  position: relative;
  z-index: 1;
}
.index::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.about_me {
  background: url(assets/images/about_me_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  min-height: 100vh;
  animation: fadeIn 0.5s forwards ease-in;
  animation-delay: 0s;
  transition: 0.6s;
  position: relative;
  z-index: 1;
}
.about_me::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.projects {
  background: url(assets/images/projects_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  min-height: 100vh;
  animation: fadeIn 0.5s forwards ease-in;
  animation-delay: 0s;
  transition: 0.6s;
  position: relative;
  z-index: 1;
  padding: 0 0 7vw 0;
}

.projects::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.contact_me {
  background: url(assets/images/contact_me_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
  background-attachment: fixed;
  min-height: 100vh;
  animation: fadeIn 0.5s forwards ease-in;
  animation-delay: 0s;
  transition: 0.6s;
  position: relative;
  z-index: 1;
}
.contact_me::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav li:first-child {
  margin-right: auto;
  user-select: none;
  padding: 0px 6px 0px 6px;
  font-size: 24px;
  user-select: none;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}

nav a:hover {
  color: #ccc;
}

.x {
  color: #000;
}

.bars:hover {
  color: #ccc;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  top: 7vw;
  margin-left: 7vw;
}
.introduction h1 {
  color: #fff;
  font-size: 50px;
  margin: 0.5vw;
}
.introduction h2 {
  color: #fff;
  font-size: 80px;
  margin: 0.5vw;
}
.introduction p {
  color: #fff;
  width: 600px;
  font-size: 18pt;
  line-height: 30px;
  margin: 10px 0px;
}
.icons {
  display: flex;
  list-style: none;
}
.icons li {
  margin: 0.5vw 25px;
}
.icons li a {
  font-size: 30px;
  transition: 0.3s;
}
.icons li a i:hover {
  color: #ccc;
}

.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  top: 7vw;
  margin-left: 7vw;
}

.contact_info h1 {
  font-size: 50px;
}

.contact_info h2 {
  font-size: 24px;
  margin: 0.5vw 0;
}

.contact_info p {
  margin: 0 0.5vw;
}

.contact_info form {
  margin: 0 0.5vw;
}

.text_box {
  color: #000;
  text-shadow: 0px 0px 0px;
}

.send_button {
  width: 60px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0 #ccc;
  transition: 0.3s !important;
  overflow: hidden !important;
}

.send_button:hover {
  box-shadow: 3px 3px 0 #ccc;
}

.introduction button {
  width: 180px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0 #ccc;
  position: relative;
  transition: 0.5s !important;
  overflow: hidden !important;
  font-size: 16px;
}

.introduction button:hover {
  box-shadow: 5px 5px 0 #ccc;
}

.photo_credit {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  font-size: 12px;
}
.photo_credit p:hover {
  color: #ccc;
}

.top_portfolio {
  margin: 7vw 7vw 0 7vw;
  height: max-content;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0.25vw;
}

.portfolio {
  margin: 50px 7vw 0 7vw;
  height: max-content;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0.25vw;
}

.projects img {
  float: left;
  margin: 12px;
}

.projects h1 {
  font-size: 28pt;
}

.projects h2 {
  font-size: 14pt;
}

.projects p {
  font-size: 18pt;
}

.link {
  text-decoration-line: underline;
}

.link:hover {
  color: #ccc;
}

@media (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .introduction h1 {
    font-size: 30pt;
  }
  .introduction h2 {
    font-size: 50pt;
  }
  .introduction p {
    width: 86vw;
    font-size: 12pt;
    line-height: 30px;
    margin: 10px 0px;
  }
  .icons {
    font-size: 20pt;
  }
  .contact_info h1 {
    font-size: 24pt;
  }
}
